.menu__heading_1 {
    margin-top: 0;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
}

.post__heading_2 {
    margin-bottom: 0;
}

.post__contents {
    margin-top: 15px;
}

.post__author {
    margin-right: 15px;
}

.post__date {
    color: #ababac;
    font-size: 13px;
}

.tags.post__tags {}

.tags__list {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.tags__list-item {
    margin-right: 10px;
    border: 1px dashed #0a84b9;
    border-radius: 5px;
    background-color: #e8eff2;
    padding: 0 2px;
}

.footer__paragraph {
    margin: 0;
    color: #e1e1e1;
}

header {
    background: linear-gradient( 0, white 20%, #2d6e8b26 90%);
    border-bottom: 2px solid #c5e3f0;
}

main {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.post {
    width: 68%;
}

aside {
    width: 29%;
    padding-left: 10px;
    background-color: #d1e0e8;
    border-radius: 10px;
}

.post__article {
    border: 1px solid #c4c4ffbd;
    margin-bottom: 30px;
    border-radius: 10px;
    background: linear-gradient( 160deg, white 60%, #2d6e8b26 90%);
    padding: 0 10px;
}

.post__article:last-of-type{
    margin-bottom: 0;
}

.post__info {
    display: flex;
    align-items: center;
}
.tags__paragraph {
    margin-right: 5px;
}
.menu__list-item:hover{
    background-color: #d7bcff;
}
.menu__list-item{
    transition: all 0.3s;
}
.menu__list-item {
    padding: 5px;
}
footer {
    background-color: #115073;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}